{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Main Content Area -->
    <div class="container my-5">
      <h1 class="text-center mb-4 create-listing-title poppins-bold">My Bookings</h1>

      <!-- Tour Listing Cards -->
      <div class="container">
        {% for booking in bookings %}
        <div class="row mt-5 ">
          <div class="product-card justify-content-center">

            <div class="col-3  bg-product-card px-0 rounded-start">
                <div class="product-img">
                  <img src="{{ booking.listing.image.url }}" class="card-img-top" alt="Tour">
                </div>
            </div>
            <div class="col-5  bg-product-card rounded-end">

                <div class="product-detail poppins-medium py-2">
                  <h5 class="card-title poppins-extrabold mt-3">{{ booking.listing.name }}</h5>
                  <h5 class="poppins-semibold mt-3">Booked on: {{ booking.booking_date }}</h5>
                  <h5 class="mt-1  poppins-semibold">Rs {{ booking.amount }}</h5>
                  <h5 class="mt-1  poppins-semibold">Quantity: {{ booking.quantity}}</h5>
                  <h5 class="mt-1  poppins-semibold">Status: {{ booking.status}}</h5>
              </div>
              <div class="row">
                <div class="col-3">
                
                  <button class="btn border hover-effect-2">
                    View Detail
                  </button>
                </div>
              <div class="col-3">
                {% if booking.status != 'Cancelled' %}
                <form action="{% url 'cancelbooking' booking.id %}" method="post">
                  {% csrf_token %}

                  <button  type="submit" class="btn border hover-effect-2">
                    Cancel
                  </button>

                </form>
                {% endif %}
                
              </div>
             
            </div>


  
            </div>
          </div>
          
        </div>
        {% endfor %}
      </div>

    </div>

{% endblock %}