
{% extends "base.html" %}
{% load static %}



{% block content %}
  <!-- Main Content Area -->
  <div class="content">
    <div class="container my-5">
      <h1 class="text-center create-listing-title mb-4 poppins-bold">Add Flight</h1>
      <div class="d-flex create-listing" >
  
        <form action="{% url 'flightform' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
        <input type="submit" class="button" value="Create">

      </form>
    </div>
    
    {% endblock %}



