{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Main Content Area -->
  <div class="content">
    <div class="container my-5">

      <!-- flight Listing Cards -->
      <div class="container">
        {% for flight in flights %}
        <div class="row mt-5 ">
          <div class="product-detail-card">

            <div class="col-4  bg-product-card px-0 rounded-start">

                <div class="product-detail-img">
                  <img src="{{ flight.image.url }}" class="card-img-top" alt="flight Image">
                </div>
  
            </div>
            <div class="col-3  bg-product-card">

                <div class="product-detail poppins-medium py-2 px-5">
                  <h2 class="card-title poppins-extrabold mt-3">{{ flight.name }}</h2>
                  <h4 class="mt-3 poppins-bold product-detail-price">Rs {{ flight.price }}.00</h4>
                  <p class="mt-3 mb-0">{{ flight.origin }} to {{ flight.destination}}</p>
                  <p class="mt-0 mb-0"> {{ flight.duration }} </p>
                  <p class="light-blue mt-2">{{ flight.available_bookings }} seats left</p>
              </div>
                <div class="px-5">
                    <form action="{% url 'flightdetail' flight.id %}" method="post">
                      {% csrf_token %}
                    <input type="number" class="quantity-input" min="1" max="{{ flight.available_bookings }}" name = "quantity">
                    <button type="submit" class="button-3">Book Now!</button>
                </form>
                </div>              
  
            </div>
            <div class="col-4  bg-product-card rounded-end">

                <div class="product-detail poppins-medium py-2 px-5 mt-5 text-center">
                    <h4 class="poppins-semibold">Description</h4>
                    <p>
                        {{ flight.description }}
                    </p>
                 
              </div>
                            
  
            </div>
          </div>
          
        </div>

        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}