        /* Inline styles for simplicity. Move to chatbot.css in production */
        /* body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        } */

        .chat-container {
            width: 100%;
            height: 80vh;
            background: #fff3f399;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        .chat-header {
            padding: 10px;
            background-color: #11375e;
            color: #fff;
            text-align: center;
        }

        .chat-messages {
            flex: 1;
            padding: 15px;
            overflow-y: auto;
            border-bottom: 1px solid #ddd;
            display: block;
        }

        .chat-input {
            display: flex;
            padding: 10px;
        }

        .chat-input input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .chat-input button {
            margin-left: 10px;
            padding: 10px 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .chat-input button:hover {
            background-color: #0056b3;
        }

        .message {
            margin-bottom: 10px;
            padding: 4px;
            border-radius: 5px;
        }

        .message.user {
            text-align: right;
            background-color: #dcf4ff;

        }

        .message.bot {
            text-align: left;
            background-color: #b8e8fe;

        }