{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Main Content Area -->
      <h1 class="text-center mb-4 create-listing-title poppins-bold">Blogs</h1>

      <!-- transport Listing Cards -->
      <div class="container">
        {% for blog in blogs %}
        <div class="row mt-5 ">
          <div class="product-card justify-content-center">

            <div class="col-3  bg-product-card px-0 rounded-start">
              <a href="{% url 'blogview' blog.slug %}">

                <div class="product-img">
                  <img src="{{ blog.image.url }}" class="card-img-top" alt="blog Image">
                </div>
              </a>
  
            </div>
            <div class="col-5  bg-product-card rounded-end">
              <a href="{% url 'blogview' blog.slug %}">

                <div class="product-detail poppins-medium py-2">
                  <h5 class="card-title poppins-extrabold mt-3">{{ blog.title }}</h5>
                  <p class="mt-3 mb-0">{{ blog.tags }} </p>
                  <p class="mt-0 mb-0">By {{ blog.created_by }} </p>
                  <p class="light-blue mt-2">{{ blog.created_at }}</p>
                  <p class="mt-0 mb-0">{% widthratio blog.content|wordcount 200 1 %} min read</p>
                  <p class="mt-1 text-end mx-5 card-price poppins-bold"> Read</p>
                </a>
              </div>
  
            </div>
          </div>
          
        </div>

        {% endfor %}
      </div>


{% endblock %}