{% extends "base.html" %}
{% load static %}

{% block content %}



  <!-- Main Content Area -->

      <!-- Tour Listing Cards -->
      <div class="container">
        <div class="blog bg-product-card  my-5 py-4 rounded">
            <h2 class="poppins-regular text-center py-1 dark-green">{{blog.title}}</h2>
            <p class="poppins-light text-center">by {{blog.created_by}}</p>
            <div class="blog-image py-4 text-center">
                <img src="{{ blog.image.url }}" alt="">
            </div>
            <hr class="border-bottom border-success">
            <div class="blog-content">
                {{blog.content|safe}}
            </div>
            <div class="blog-content text-end">
              <hr class="border-bottom border-success">
              <p>Uploaded on {{blog.created_at}}</p>
            </div>
        </div>

      </div>

    </div>

{% endblock %}