{% extends "planner_base.html" %}

{% block content-2 %}
<div class="content">
    <div class="itinerary-container">
        <h1>{{ itinerary.name }}</h1>
        <h2>Attractions</h2>
        
        {% for attraction in attractions %}
            <div class="card">
                <div class="card-header">
                    {{ attraction.name }}
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong> {{ attraction.description }}</p>
                    <p><strong>Location:</strong> {{ attraction.location }}</p>
                    <p><strong>Time:</strong> {{ attraction.start_time }} to {{ attraction.end_time }}</p>
                    <button class="btn">Edit Attraction</button>
                </div>
            </div>
        {% endfor %}

        <h2>Travel Routes</h2>
        
        {% for route in routes %}
            <div class="card">
                <div class="card-header">
                    {{ route.start_location }} to {{ route.end_location }}
                </div>
                <div class="card-body">
                    <p><strong>Mode of Travel:</strong> {{ route.travel_mode }}</p>
                    <p><strong>Departure Time:</strong> {{ route.departure_time }}</p>
                    <p><strong>Arrival Time:</strong> {{ route.arrival_time }}</p>
                    <button class="btn">Edit Route</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}