{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body class='green-bg'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Rahbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tourlist' %}">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Transportation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Hello, {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listings' %}">Manage Listings</a>
                    </li>
                    <li class="nav-item">
                        <form action={% url 'logout' %} method="post">
                            {% csrf_token %}
                            <div class="logout-button">
                                <input type="submit" value="logout">
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>
    <div class="container d-flexalign-items-center" >
        <div class="no-listing justify-content-center align-items-center text-center">
            <a href="{% url 'createlistings' %}" class="btn-create mt-4">
                Create a Listing
            </a>

        </div>
    </div>
    {% if tours %}
    <div class="container mt-5">
        <div class="listing-section rounded">
            <div class="row">
                {% for tour in tours %}
                <!-- Listing Card 1 -->
                <div class="listing-card">
                    <div class="listing-img">
                        <!-- Placeholder for an image -->
                        <img src="{{ tour.image.url }}" class="card-img-top" alt="Tour Image">

                    </div>
                    <div class="listing-title">
                        <h3>{{ tour.name }}</h3>
                    </div>
                    <div class="listing-desc">
                        <p>
                            A short description of the listing goes here. Highlight the features or
                            important details.
                        </p>
                    </div>
                    <div class="listing-actions mb-1">
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="no-listing justify-content-center align-items-center text-center">
            <h1 >
                Oh, No listings :(
            </h1>
            <a href="{% url 'createlistings' %}" class="btn-create mt-4">
                Create a Listing
            </a>

        </div>
    </div>
    
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>