{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container d-flexalign-items-center" >
        <div class="no-listing justify-content-center align-items-center text-center">
            <a href="{% url 'createlistings' %}" class="btn-create mt-4">
                Create a Listing
            </a>

        </div>
    </div>
  
    {% if tours %}
    <h1 class="text-center mb-4 mt-4 create-listing-title poppins-bold">Tours</h1>
    <div class="container mt-5">
        <div class="listing-section rounded">
            <div class="row">
                
                {% for tour in tours %}
                <!-- Listing Card 1 -->
                <div class="card listing-card" style="width: 18rem;">
                    <img class="card-img-top listing-img" src="{{ tour.image.url }}" alt="Card cap">
                    <div class="card-body">
                      <h5 class="card-title">{{  tour.name}}  </h5>
                      <a href="{% url 'tourdetail' tour.id %}" class="btn btn-primary btn-sm">Detail</a>
                      <a href="{% url 'updatetour' tour.id %}" class="btn btn-primary btn-sm">Update</a>
                      <a href="{% url 'deletetour' tour.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}


    {% if hotels %}
    <h1 class="text-center mb-4 mt-4 create-listing-title poppins-bold">Hotels</h1>
    <div class="container mt-5">
        <div class="listing-section rounded">
            <div class="row">
                
                {% for hotel in hotels %}
                <!-- Listing Card 1 -->
                <div class="card listing-card" style="width: 18rem;">
                    <img class="card-img-top listing-img" src="{{ hotel.image.url }}" alt="Card  cap">
                    <div class="card-body">
                      <h5 class="card-title">{{  hotel.name}}  </h5>
                      <a href="{% url 'hoteldetail' hotel.id %}" class="btn btn-primary btn-sm">Detail</a>
                      <a href="{% url 'updatehotel' hotel.id %}" class="btn btn-primary btn-sm">Update</a>
                      <a href="{% url 'deletehotel' hotel.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}


    {% if flights %}
    <h1 class="text-center mb-4 mt-4 create-listing-title poppins-bold">Flights</h1>
    <div class="container mt-5">
        <div class="listing-section rounded">

            <div class="row">
                
                {% for flight in flights %}
                <!-- Listing Card 1 -->
                <div class="card listing-card" style="width: 18rem;">
                    <img class="card-img-top listing-img" src="{{ tour.image.url }}" alt="Card  cap">
                    <div class="card-body">
                      <h5 class="card-title">{{  tour.name}}  </h5>
                      <a href="{% url 'flightdetail' flight.id %}" class="btn btn-primary btn-sm">Detail</a>
                      <a href="{% url 'updateflight' flight.id %}" class="btn btn-primary btn-sm">Update</a>
                      <a href="{% url 'deleteflight' flight.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if transports %}
    <h1 class="text-center mb-4 mt-4 create-listing-title poppins-bold">Transport</h1>
    <div class="container mt-5">
        <div class="listing-section rounded">

            <div class="row">
                
                {% for transport in transports %}
                <!-- Listing Card 1 -->
                <div class="card listing-card" style="width: 18rem;">
                    <img class="card-img-top listing-img" src="{{ transport.image.url }}" alt="Card cap">
                    <div class="card-body">
                      <h5 class="card-title">{{  transport.name}}  </h5>
                      <a href="{% url 'transportdetail' transport.id %}" class="btn btn-primary btn-sm">Detail</a>
                      <a href="{% url 'updatetransport' transport.id %}" class="btn btn-primary btn-sm">Update</a>
                      <a href="{% url 'deletetransport' transport.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if blogs %}
    <h1 class="text-center mb-4 mt-4 create-listing-title poppins-bold">Blogs</h1>
    <div class="container mt-5">
        <div class="listing-section rounded">
          
            <div class="row">
                
                {% for blog in blogs %}
                <!-- Listing Card 1 -->
                <div class="card listing-card" style="width: 18rem;">
                    <img class="card-img-top listing-img" src="{{ blog.image.url }}" alt="Card cap">
                    <div class="card-body">
                      <h5 class="card-title">{{  blog.title}}  </h5>
                      <a href="{% url 'blogview' blog.slug %}" class="btn btn-primary btn-sm">Detail</a>
                      <a href="{% url 'editblog' blog.id %}" class="btn btn-primary btn-sm">Update</a>
                      <a href="{% url 'deleteblog' blog.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}


    {% if not tours and not blogs and not transport and not hotels %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="no-listing justify-content-center align-items-center text-center">
            <h1 >
                Oh, No listings :(
            </h1>
            <a href="{% url 'createlistings' %}" class="btn-create mt-4">
                Create a Listing
            </a>

        </div>
    </div>
    {% endif %}

    

 {% endblock %}