{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Main Content Area -->
    <div class="container my-5">
      <h1 class="text-center mb-4 create-listing-title poppins-bold">Available Tours</h1>

      <!-- Tour Listing Cards -->
      <div class="container">
        {% for tour in tours %}
        <div class="row mt-5 ">
          <div class="product-card justify-content-center">

            <div class="col-3  bg-product-card px-0 rounded-start">
              <a href="{% url 'tourdetail' tour.id %}">

                <div class="product-img">
                  <img src="{{ tour.image.url }}" class="card-img-top" alt="Tour Image">
                </div>
              </a>
  
            </div>
            <div class="col-5  bg-product-card rounded-end">
              <a href="{% url 'tourdetail' tour.id %}">

                <div class="product-detail poppins-medium py-2">
                  <h5 class="card-title poppins-extrabold mt-3">{{ tour.name }}</h5>
                  <p class="mt-3 mb-0">{{ tour.origin_country }} to {{ tour.destination_country }}</p>
                  <p class="mt-0 mb-0"> {{ tour.number_of_nights }} Days</p>
                  <p class="light-blue mt-2">{{ tour.available_bookings }} seats left</p>
                  <p class="mt-1 text-end mx-5 card-price poppins-bold">Rs {{ tour.price }}</p>
                </a>
              </div>
  
            </div>
          </div>
          
        </div>

        {% endfor %}
      </div>

    </div>

{% endblock %}