{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Main Content Area -->
  <div class="content">
    <div class="container my-5">

      <!-- Tour Listing Cards -->
      <div class="container">
        {% for tour in tours %}
        <div class="row mt-5 ">
          <div class="product-detail-card">

            <div class="col-4  bg-product-card px-0 rounded-start">

                <div class="product-detail-img">
                  <img src="{{ tour.image.url }}" class="card-img-top" alt="Tour">
                </div>
  
            </div>
            <div class="col-3  bg-product-card">

                <div class="product-detail poppins-medium py-2 px-5">
                  <h2 class="card-title poppins-extrabold mt-3">{{ tour.name }}</h2>
                  <h4 class="mt-3 poppins-bold product-detail-price">Rs {{ tour.price }}.00</h4>
                  <p class="mt-3 mb-0">{{ tour.origin_country }} to {{ tour.destination_country }}</p>
                  <p class="mt-0 mb-0"> {{ tour.number_of_nights }} Days</p>
                  <p class="light-blue mt-2">{{ tour.available_bookings }} seats left</p>
              </div>
                <div class="px-5">
                    <form action="{% url 'tourdetail' tour.id %}" method="post">
                      {% csrf_token %}
                    <input type="number" class="quantity-input" min="1" max="{{ tour.available_bookings }}" name = "quantity">
                    <button type="submit" class="button-3">Book Now!</button>
                </form>
                </div>              
  
            </div>
            <div class="col-4  bg-product-card rounded-end">

                <div class="product-detail poppins-medium py-2 px-5 mt-5 text-center">
                    <h4 class="poppins-semibold">Description</h4>
                    <p>
                        {{ tour.description }}
                    </p>
                 
              </div>
                            
  
            </div>
          </div>
          
        </div>

        {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}