{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Main Content Area -->
    <div class="container my-5">
      <h1 class="text-center mb-4 create-listing-title poppins-bold">Available Hotels</h1>

      <!-- hotel Listing Cards -->
      <div class="container">
        {% for hotel in hotels %}
        <div class="row mt-5 ">
          <div class="product-card justify-content-center">

            <div class="col-3  bg-product-card px-0 rounded-start">
              <a href="{% url 'hoteldetail' hotel.id %}">

                <div class="product-img">
                  <img src="{{ hotel.image.url }}" class="card-img-top" alt="hotel Image">
                </div>
              </a>
  
            </div>
            <div class="col-5  bg-product-card rounded-end">
              <a href="{% url 'hoteldetail' hotel.id %}">

                <div class="product-detail poppins-medium py-2">
                  <h5 class="card-title poppins-extrabold mt-3">{{ hotel.name }}</h5>
                  <p class="mt-3 mb-0">{{ hotel.location }} </p>
                  <p class="mt-1 mb-0"> {{ hotel.amenities }}</p>
                  <p class="light-blue mt-2">{{ hotel.available_bookings }} rooms left</p>
                  <p class="mt-1 text-end mx-5 card-price poppins-bold">Rs {{ hotel.price_per_night }} per night</p>
                </a>
              </div>
  
            </div>
          </div>
          
        </div>

        {% endfor %}
      </div>

    </div>

{% endblock %}