<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hotel Listings</title>
  {% load static %}
  <!-- Bootstrap CSS for styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'hotellist' %}">hotel Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hotellist' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hotellist' %}">hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hotellist' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Sidebar for navigation -->
  <div class="sidebar">
    <h5>Navigation</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">hotel Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">Hotel Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">Transportation Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotellist' %}">Contact</a>
      </li>
    </ul>
  </div>

  <!-- Main Content Area -->
  <div class="content">
    <div class="container my-5">
      <h1 class="text-center mb-4">Update hotel</h1>

      <form action="{% url 'updatehotel' listing.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>   

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
