{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Main Content Area -->
  <div class="content">
    <div class="container my-5">
      <h1 class="text-center mb-4">Available hotels</h1>

      <!-- hotel Listing Cards -->
      <div class="row">
        {% for hotel in hotels %}
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="product-img">
                <img src="{{ hotel.image.url }}" class="card-img-top" alt="hotel">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ hotel.name }}</h5>
                <p class="card-text">{{ hotel.description }}</p>
                <ul class="list-unstyled">
                  <li><strong>Duration:</strong> {{ hotel.duration }} Days</li>
                  <li><strong>Price:</strong> Rs{{ hotel.price }} per person</li>
                  <li><strong>Available Spots:</strong> {{ hotel.available_bookings }}</li>
                </ul>
                <a href="{% url 'hotellist' %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'updatehotel' hotel.id %}" class="btn btn-warning btn-sm">Update</a>
                                
                <!-- Delete Button -->
                <form action="{% url 'deletehotel' hotel.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}